/* Globale Einstellungen */
body {
    background: url('avatars/landkarte.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #ece2b6; /* Sandiges Beige für normalen Text */
}

/* Überschriften */
h1, h2, h3 {
    color: #f8f4e3; /* Elfenbein Weiß für Überschriften */
}

/* Buttons */
button {
    background-color: #556b2f; /* Olivgrün für den Button-Hintergrund */
    color: #ffd700; /* Goldton für den Button-Text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a52a2a; /* Sattes Rot für Hover-Effekt */
}

/* XP-Anzeige und Level */
#xp-counter h2, #xp-counter h3 {
    color: #ffd700; /* Leuchtendes Gold für XP- und Level-Anzeige */
}

/* Fortschrittsbalken */
#xp-bar-container {
    width: 100%;
    background: #5a3d1e; /* Holzbraun für Fortschrittsleisten-Hintergrund */
    margin-top: 10px;
    border-radius: 10px;
}

#xp-progress {
    width: 0%;
    height: 20px;
    background: #50c878; /* Smaragdgrün für die Fortschrittsbalken-Füllfarbe */
    border-radius: 10px;
}

/* Admin-Schaltflächen (z.B. für das Erstellen und Löschen von Quests) */
#quests button {
    margin-top: 5px;
}

/* Avatar */
#avatar {
    margin-top: 10px;
    border-radius: 50%;
    border: 3px solid #f8f4e3; /* Elfenbein Weiß als Rahmen um das Avatar-Bild */
}
