/* Globale Einstellungen */
body {
    background: url('avatars/landkarte.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif; /* Moderne und gut lesbare Schriftart */
    color: #4a3b2d; /* Dunkelbraun für Text */
    text-align: center; /* Zentriert den gesamten Text */
}

/* Überschrift */
h1 {
    color: #f8f4e3; /* Elfenbein Weiß */
    font-size: 3em; /* Größer für bessere Lesbarkeit */
    margin-top: 50px;
}

/* Benutzer-Auswahl und Anmeldetexte */
label, input, select {
    color: #4a3b2d; /* Dunkelbraun für bessere Lesbarkeit */
    display: block;
    margin: 10px auto;
    font-size: 1.2em; /* Schriftgröße anpassen für bessere Lesbarkeit */
}

/* Admin-Login anpassen */
#admin-login-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    text-align: left;
    font-size: 0.8em; /* Kleinere Schriftgröße für den Admin-Login */
    background-color: rgba(255, 255, 255, 0.8); /* Leicht transparente Hintergrundfarbe für besseren Kontrast */
    padding: 10px;
    border-radius: 5px;
}

#adminBenutzername, #adminPasswort {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    font-size: 0.8em; /* Kleinere Eingabefelder */
}

#admin-login-button {
    background-color: #556b2f;
    color: #ffd700;
    padding: 5px 10px;
    font-size: 0.8em; /* Kleinere Schriftgröße */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Buttons */
button {
    background-color: #556b2f; /* Olivgrün für den Button-Hintergrund */
    color: #ffd700; /* Goldton für den Button-Text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
}

button:hover {
    background-color: #a52a2a; /* Sattes Rot für Hover-Effekt */
}

/* XP-Anzeige und Level */
#xp-counter h2, #xp-counter h3 {
    color: #ffd700; /* Leuchtendes Gold für XP- und Level-Anzeige */
}

/* Fortschrittsbalken */
#xp-bar-container {
    width: 100%;
    background: #5a3d1e; /* Holzbraun für Fortschrittsleisten-Hintergrund */
    margin-top: 10px;
    border-radius: 10px;
}

#xp-progress {
    width: 0%;
    height: 20px;
    background: #50c878; /* Smaragdgrün für die Fortschrittsbalken-Füllfarbe */
    border-radius: 10px;
}

/* Avatar */
#avatar {
    margin-top: 10px;
    border-radius: 50%;
    border: 3px solid #f8f4e3; /* Elfenbein Weiß als Rahmen um das Avatar-Bild */
}

/* Anmeldeabschnitt */
#startseite {
    margin-top: 20px;
}
